EMBEDDINGS=""
LABELS=""
TRAIN_OUTPUT=""
FLOW_CHECKPOINT=""
REFERENCE_BANK=""
CONTEXT_DIR=""
UIFACE_GENERATOR_ROOT=""
DIFFUSION_CHECKPOINT=""
DIFFUSION_CONFIG=""
VQ_ENCODER=""
VQ_DECODER=""
IMAGE_OUTPUT=""
CASIA_CACHE=""
ELASTICFACE_CHECKPOINT=""
IRESNET_SOURCE=""
EXTRACTION_OUTPUT=""
